.input {
  text-align:center;
  box-shadow: none;
  height: 28px;
  width: 100%;
  font-size: 0.8em;
  padding: 3px 6px 3px 25px;
  border: 1px solid #d0dde9;
  margin: 0;
  border-radius: 15px;
  top: 11px;
  box-shadow: inset 1px 1px 5px #d5d5d5;
  }

  /*
 .small {
     height: 2rem;
     font-size: 0.875rem;
  }
  */